<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voltio Tienda</title>


    <link rel="stylesheet" href="./style/main.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="./style/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display:900i" rel="stylesheet">
</head>

<body>

    <div class="nav">
        <div class="nav__blank--left">
            <div class="nav__blank--left-space">
                <div class="nav__blank--left-title">
                    <h1> <a href="/">VOLTIO</a></h1>
                </div>

            </div>

        </div>
        <div class="nav__blank--middle">
            <div class="nav__blank--middle--2">

            </div>
        </div>

        <div class="nav__blank--list">

            <ul class="flex-container">
                <li class="flex-item flex-item-woman" id="cambiarwoman"><a href="/tienda?category=womens">Woman</a>
                </li>
                <li class="flex-item" id="cambiarman"><a href="/tienda?category=mens">Man</a> </li>
                <li class="flex-item flex-item-kids" id="cambiarkids"><a href="#">Kids</a> </li>
                <li class="flex-item flex-item-gifts" id="cambiarsale"><a href="#">Sale</a> </li>

            </ul>
        </div>

        <div class="nav__blank--icons">

            <div class="nav__secu">
                <div class="nav__secu--search">

                    <i class="fas fa-search"></i>

                </div>
                <div class="nav__secu--user">
                    <i class="fas fa-user"></i>

                </div>
                <div class="nav__secu--item">
                    <i class="fas fa-shopping-bag"></i>

                </div>

            </div>
        </div>
    </div>

    <div class="blanktop__space">

        <div class="blanktop__space-nav">

        </div>


        <!--   

        <ul class="blanktop__space-nav--list">
            <li><a href="">All womens</a></li>
            <li><a href="">Tops</a></li>
            <li><a href="">Bottoms</a></li>
            <li><a href="">Dresses</a></li>
            <li><a href="">Jackets</a></li>
        </ul>


-->

    </div>


    <div class="space"></div>

    {{#if esWomens}}

    <div class="blankspace__promo">
        <div class="blankspace__promo-left"></div>
        <div class="blankspace__promo-middle">

            <ul class="blankspace__promo-list">
                <div class="promo__item promo__item-1wom">
                    <h1 class="promo__item-text">Tops</h1>
                </div>
                <div class="promo__item promo__item-2wom">
                    <h1 class="promo__item-text">Bottoms</h1>
                </div>
                <div class="promo__item promo__item-3wom">
                    <h1 class="promo__item-text">Dresses</h1>
                </div>
                <div class="promo__item promo__item-4wom">
                    <h1 class="promo__item-text">Jackets</h1>
                </div>

            </ul>
        </div>
        <div class="blankspace__promo-right"></div>
    </div>

    {{/if}}
    {{#if esMens}}

    <div class="blankspace__promo">
        <div class="blankspace__promo-left"></div>
        <div class="blankspace__promo-middle">

            <ul class="blankspace__promo-list">
                <div class="promo__item promo__item-1men">
                    <h1 class="promo__item-text">Tees</h1>
                </div>
                <div class="promo__item promo__item-2men">
                    <h1 class="promo__item-text">Bottoms</h1>
                </div>
                <div class="promo__item promo__item-3men">
                    <h1 class="promo__item-text">Jackets</h1>
                </div>
                <div class="promo__item promo__item-4men">
                    <h1 class="promo__item-text">Shoes</h1>
                </div>

            </ul>
        </div>
        <div class="blankspace__promo-right"></div>
    </div>

    {{/if}}



    <div class="content">
        <div class="content__left-filterbar">
            <div class="content__left-filterbar--blank1"></div>
            <div class="content__left-filterbar--blank2"></div>

        </div>

        <div class="womens__products">

            <div class="womens__products-filtertop">

                {{#if esMens}}

                <label>ingresa el rango de precio</label>
                <input class="input-rango"  value="{{price}}" type="range" min="10" max="250">

                {{/if}}
                {{#if esWomens}}

                <label>ingresa el rango de precio</label>
                <input class="input-rango" value="{{price}}" type="range" min="10" max="250">

                {{/if}}


            </div>

            <div class=" womens__products-content">

                <ul class="womens__products-list">
                    {{#each productos}}

                    <div class="womens__products-list--item">

                        <img src="{{imagenes.[1]}}" width="250px">
                        <p>{{name}}</p>
                        <p>{{price}}</p>
                        <p>{{type}}</p>
                    </div>

                    {{/each}}
                </ul>

            </div>
        </div>


        <div class="content__right"></div>

    </div>



    <script>

        var rango = document.querySelector('.input-rango');
        function buscarPorPrecio() {

            {{#if esWomens}}
            location.href = '/tienda?category=womens&price=' + rango.value;
            {{/if}}
            {{#if esMens}}
            location.href = '/tienda?category=mens&price=' + rango.value;
            {{/if}}

            console.log(rango.value);
              }

            rango.addEventListener('change', buscarPorPrecio);



    </script>



</body>




</html>