<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voltio Tienda</title>


    <link rel="stylesheet" href="./style/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

         <script src="/scripts/three.min.js"></script>
        <script src="/scripts/TweenMax.min.js"></script>
          <script src="/scripts/three.r92.min.js"></script>
        <script src="/scripts/hover-effect.umd.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display:900i" rel="stylesheet">
</head>

<body>

    <div data-aos="fade" class="nav">
        <div class="nav__blank--left">
            <div class="nav__blank--left-space">
                <div class="nav__blank--left-title">
                    <h1> <a href="/">VOLTIO</a></h1>
                </div>

            </div>

        </div>
        <div class="nav__blank--middle">
            <div class="nav__blank--middle--2">

            </div>
        </div>

        <div class="nav__blank--list">

            <ul class="flex-container">
                <li class="flex-item flex-item-woman" {{#if esWomens}}style="text-decoration:line-through"
                    {{/if}}id="cambiarwoman"><a class="grid__item-link" href="/tienda?category=womens">Women's</a>
                </li>
                <li class="flex-item" {{#if esMens}}style="text-decoration:line-through" {{/if}} id="cambiarman"><a
                        class="grid__item-link" href="/tienda?category=mens">Men's</a> </li>
                <li class="flex-item flex-item-kids" id="cambiarkids"><a class="grid__item-link" href="#">Kid's</a>
                </li>
                <li class="flex-item flex-item-gifts" id="cambiarsale"><a class="grid__item-link" href="#">Sale</a>
                </li>

            </ul>
        </div>

        <div class="nav__blank--icons">

            <div class="nav__secu">
                <div class="nav__secu--search">

                    <i class="fas fa-search"></i>

                </div>
                <div class="nav__secu--user">
                    <i class="fas fa-user"></i>

                </div>
                <div class="nav__secu--item">
                    <span class="carrito__num"> </span>

                    <a href="/cart">
                        <i class="fas fa-shopping-bag"></i> </i>
                    </a>

                </div>

            </div>
        </div>
    </div>

    <div class="blanktop__space">

        <div class="blanktop__space-nav">

        </div>

    </div>


    <div class="space"></div>

    {{#if esWomens}}

    <div data-aos="fade-up" class="blankspace__promo">
        <div class="blankspace__promo-left"></div>
        <div class="blankspace__promo-middle">

            <ul class="blankspace__promo-list">
                <a href="/tienda?category=womens&type=tops">

                    <div data-aos="fade-up" class="promo__item promo__item-1wom">
                        <div>
                            <!--
                          <h1 class="promo__item-text">Tops</h1>
                           
                        <img class="distort_tops-w" src="../imagenes/item5-re.jpg" alt="">

                         -->
                        </div>
                      
                    </div>

                </a>

                <a href="/tienda?category=womens&type=bottoms">
                    <div data-aos="fade-up" class="promo__item promo__item-2wom">
                        <!--
                        <h1 class="promo__item-text">Bottoms</h1>

                        -->
                    </div>
                </a>
                <a href="/tienda?category=womens&type=dresses">
                    <div data-aos="fade-up" class="promo__item promo__item-3wom">
                        <!--
                        <h1 class="promo__item-text">Dresses</h1>
                        -->
                    </div>
                </a>
                <a href="/tienda?category=womens&type=jackets">
                    <div data-aos="fade-up" class="promo__item promo__item-4wom">
                        <!--
                        <h1 class="promo__item-text">Jackets</h1>
                        -->
                    </div>
                </a>

            </ul>
        </div>
        <div class="blankspace__promo-right"></div>
    </div>

    {{/if}}
    {{#if esMens}}

    <div data-aos="fade-up" class="blankspace__promo">
        <div class="blankspace__promo-left"></div>
        <div class="blankspace__promo-middle">

            <ul data-aos="fade-up" class="blankspace__promo-list">
                <a href="/tienda?category=mens&type=tees">
                    <div class="promo__item promo__item-1men">
                        <!-- 

                        <h1 class="promo__item-text">Tees</h1>
                        -->
                    </div>
                </a>
                <a href="/tienda?category=mens&type=bottoms">
                    <div class="promo__item promo__item-2men">
                         <!-- 

                        <h1 class="promo__item-text">Bottoms</h1>
                         -->
                    </div>
                </a>
                <a href="/tienda?category=mens&type=jackets">
                    <div class="promo__item promo__item-3men">
                         <!-- 

                        <h1 class="promo__item-text">Jackets</h1>
                         -->
                    </div>
                </a>
                <a href="/tienda?category=mens&type=shoes">
                    <div class="promo__item promo__item-4men">
                         <!-- 

                        <h1 class="promo__item-text">Shoes</h1>
                         -->
                    </div>
                </a>

            </ul>
        </div>
        <div class="blankspace__promo-right"></div>
    </div>

    {{/if}}



    <div class="content">
        <div class="content__left-filterbar">
            <div class="content__left-filterbar--blank1"></div>
            <div class="content__left-filterbar--blank2">


                <div class="content__left-filterbar--blank2-list">
                    <p data-aos="fade-right" class="filterbar_title">Women's</p>
                    <ul class="left__filterbarnav">
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=womens&type=tops">Tops</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=womens&type=bottoms">Bottoms</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=womens&type=dresses">Dresses</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=womens&type=jackets">Jackets</a></li>

                    </ul>
                    <p data-aos="fade-right" class="filterbar_title">Men's</p>
                    <ul class="left__filterbarnav">
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=mens&type=tees">Tees</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=mens&type=bottoms">Bottoms</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=mens&type=jackets">Jackets</a></li>
                        <li data-aos="fade-right"><a class="grid__item-link"
                                href="/tienda?category=mens&type=shoes">Shoes</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="womens__products">

            <div class="womens__products-filtertop">

                {{#if esMens}}

                <div class="filter-cont-price">

                    <h1 data-aos="fade-right" class="subtitle">Men's {{type}}</h1>

                    <div data-aos="fade-up" class="label-cont">
                        <label class="label">Enter your desired price range</label>
                        <input class="input-rango" value="{{price}}" type="range" min="10" max="250">
                    </div>


                </div>

                {{/if}}
                {{#if esWomens}}

                <div class="filter-cont-price">
                    <h1 data-aos="fade-right" class="subtitle">Women's {{type}}</h1>

                    <div data-aos="fade-up" class="label-cont">
                        <label class="label">Enter your desired price range</label>


                        <input class="input-rango" value="{{price}}" type="range" min="10" max="250">

                    </div>

                </div>

                {{/if}}

            </div>

            <div class=" womens__products-content">

                <ul class="womens__products-list">
                    {{#each productos}}

                    <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="10"
                        class="womens__products-list--item">
                        <a href="/tienda/producto/{{name}}">


                        
                            <img class="producto__image" src="{{imagenes.[1]}}" width="250px">
                           



                            <h2 class="producto__name">{{name}}</h2>
                            <p class="producto__price">${{price}}</p>

                        </a>

                        <a class="product__cart bttn">Add to cart</a>
                        <!--
                        <button class="product__cart">Add to cart</button>
                        -->
                    </div>

                    {{/each}}
                </ul>

            </div>
        </div>


        <div class="content__right"></div>

    </div>

    <footer data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"  class="foot-tienda">
        <div class="foot-tienda__left">
            <h3>Subscribe to Newsletter</h3>
        </div>
        <div class="foot-tienda__right">
            <div class="foot-redes">
                <i class="fab fa-facebook-f icon2"></i>
                <i class="fab fa-twitter icon2"></i>
                <i class="fab fa-instagram icon2"></i>
                <i class="fab fa-youtube icon2"></i>
            </div>
        </div>
    </footer>


    <script>

        var rango = document.querySelector('.input-rango');
        function buscarPorPrecio() {

            {{#if esWomens}}
            location.href = '/tienda?category=womens&price=' + rango.value;
            {{/if}}
            {{#if esMens}}
             location.href = '/tienda?category=mens&price=' + rango.value;
            {{/if}}
             console.log(rango.value);

             }
             if (rango != null) {

             rango.addEventListener('change', buscarPorPrecio);

             }


    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/scripts/animation.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


     <script>
        var myAnimationTopsW = new hoverEffect({
            parent: document.querySelector('.promo__item-1wom'),
            intensity: 0.3,
            image1: 'imagenes/item5-re.jpg',
            image2: 'imagenes/item5-re-back.jpg',
            displacementImage: 'imagenes/distortion/fluid-re.jpg'
        });
          var myAnimationBottomsW = new hoverEffect({
            parent: document.querySelector('.promo__item-2wom'),
            intensity: 0.3,
            image1: 'imagenes/item4-re.jpg',
            image2: 'imagenes/item4-re-back.jpg',
            displacementImage: 'imagenes/distortion/fluid-re.jpg'
        });
           var myAnimationDressesW = new hoverEffect({
            parent: document.querySelector('.promo__item-3wom'),
            intensity: 0.3,
            image1: 'imagenes/item7-re.jpg',
            image2: 'imagenes/item7-re-back.jpg',
            displacementImage: 'imagenes/distortion/fluid-re.jpg'
        });
           var myAnimationJacketsW = new hoverEffect({
            parent: document.querySelector('.promo__item-4wom'),
            intensity: 0.3,
            image1: 'imagenes/item1-re-front.jpg',
            image2: 'imagenes/item1-re.jpg',
            displacementImage: 'imagenes/distortion/fluid-re.jpg'
        });
          var myAnimationTees = new hoverEffect({
            parent: document.querySelector('.promo__item-1men'),
            intensity: 0.3,
            image1: 'imagenes/mens1-re-front.jpg',
            image2: 'imagenes/mens1-re.jpg',
            displacementImage: 'imagenes/distortion/stripe1.jpg'
        });
         var myAnimationBottomsM = new hoverEffect({
            parent: document.querySelector('.promo__item-2men'),
            intensity: 0.3,
            image1: 'imagenes/mens2.jpg',
            image2: 'imagenes/mens2-re-back.jpg',
            displacementImage: 'imagenes/distortion/stripe1.jpg'
        });
         var myAnimationJacketsM = new hoverEffect({
            parent: document.querySelector('.promo__item-3men'),
            intensity: 0.3,
            image1: 'imagenes/mens3-re.jpg',
            image2: 'imagenes/mens3-re-back.jpg',
            displacementImage: 'imagenes/distortion/stripe1.jpg'
        });
          var myAnimationShoes = new hoverEffect({
            parent: document.querySelector('.promo__item-4men'),
            intensity: 0.3,
            image1: 'imagenes/mens4-re.jpg',
            image2: 'imagenes/mens4-re-back.jpg',
            displacementImage: 'imagenes/distortion/stripe1.jpg'
        });
        
    </script>
  


</body>


</html>